<!DOCTYPE HTML>

</html lang="es">

<html>
	<head>
		{% block bootstrap %}
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<script type="text/javascript" src="/frontend/bootstrap/js/bootstrap.min.js"> </script>
		{% endblock %}
		
		{%block scripts%}
			<script type="text/javascript" src="/frontend/js/angular.min.js"> </script>
			<script type="text/javascript" src="/frontend/js/prueba.js"> </script>
			<script type="text/javascript" src="/frontend/js/Generales.js"> </script>
		{% endblock%}

			
		{%block css%}
			<link rel="stylesheet" type="text/css" href="/frontend/css/estilos.css"/>
		{% endblock%}

		

		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>                        
      				</button>
      			<a class="navbar-brand" href="#">Encubarte</a>
    			</div>
				<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav navbar-right">
        				{% if request.user.is_authenticated %}
        					<li><a href="/CambiarContrasena/"> Cambiar Contraseña </a></li>
							<li><a href="/logout/"> <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión </a></li>
			        	{% else %}
			        		<li><a href="/"> Inicio </a></li>
			        		<li><a href="/registroEstudiante/"><span class="glyphicon glyphicon-user"></span> Regístrate</a></li>
			        	{% endif %}
      				</ul>
				</div>
  			</div>
		</nav>

		<title> {% block titulo %} Inicio {% endblock %} </title>
		<!--<center><h1> Encubarte </h1></center><br>-->
		<center> <img src="frontend/images/Encu4.jpg" alt="encubarte"></center> <br>

		{% block extrahead %}
		{% endblock %}

		
		
	</head>	
	<body>
		{% block contenido %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</body>
</html>
