{%extends "base.html"%}

{% block extrahead %}
	<div class="container-fluid offset1">
		{% if sinRol %}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
							<li><a href="/LogEstudiante/ModificarInfo/">Modificar información Personal</a></li>
	      				</ul>
	    			</div>
	  			</div>
			</nav>
		{% else %}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
		        			<li><a href="/LogEstudiante/"> Inicio </a></li>
							<li><a href="/LogEstudiante/VerHorario/"> Ver Horario </a></li>
							<li><a href="/LogEstudiante/ModificarInfo/">Modificar información Personal</a></li>
							<li><a href="/LogEstudiante/MatricularCurso/">Matricular Curso</a></li>
	      				</ul>
	    			</div>
	  			</div>
			</nav>
		{% endif %}
	</div>

	{% if operationSucess %}
		<p> {{nombre}}, tus cambios se realizaron satisfactoriamente. </p>
		<br>
	{%endif%} 

{% endblock %}

{% block footer %}
{% endblock %}
