{% extends "Estudiante/LogEstudiante.html" %}

{% block contenido %}
	{%if errorTipoDocumento or errorFechaNacimiento or errorGenero or errorTelefonos %}
	<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorTipoDocumento %}
				No seleccionaste un tipo de documento correcto.<br>
			{% endif %}
			{% if errorFechaNacimiento %}
				La fecha no es correcta, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd.<br>
			{% endif %}
			{% if errorGenero %}
				No seleccionaste un género correcto.<br>
			{% endif %}
			{% if errorTelefonos %}
				Los telefonos deben ser solo números y no exceder los 12 caracteres, por favor revisa los campos de teléfono fijo, celular y de contacto.<br>
			{% endif %}		
		</p>
	</div>
	{% endif %}

	{% if operationSucess %}
		<p> {{nombre}}, tus cambios se realizaron satisfactoriamente. </p>
		<br>
	{%endif%} 

	<form method="POST" action="/LogEstudiante/ModificarInfo/" name="ModificarInfo">
		{% csrf_token %}
		<center>
		<div>
			{{ formUser.as_p }}
			{{ form.as_p }}
			{{ formExtra.as_p }}
		</div>
		<br> <br>
	    <tr>
	        <td><input type="submit" value="Cambiar Datos" name="modificarInfo"/>
	    </tr>
		<p class="text-info"><h5> Por favor ingrese todos los campos requeridos (*)</h5></p>
		</center>
	</form>
{% endblock %}