{% include "Estudiante/LogEstudiante.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block contenido %}
	<div class="container-fluid offset1">
		<!--{% if conectado %}
			<!-- full calendar
			<div class="span10" id='calendar'></div>

			<div class="span3">
				<form action="/logout/" name="logout">
				{% csrf_token %}
					<h3>Inicio de Sesión</h3>
					<div>
						<p>Estás logueado como {{nombre}}, ¿Quieres iniciar sesión como alguien más?</p>
				        <label>Cerrar sesión</label>
				        <input type="submit" value="Log out" name="logout"/>
				    </div>
			</form>
			</div>
		{% else %} -->

			{% block items %}
			<div class="spanEst">
				<center>
					<h3>Cambiar Contraseña</h3>
				<form method="POST" action="/LogEstudiante/CambiarContraseña/" name="CamPass">
				{% csrf_token %}
					<table class ="table-hover">
						<tbody>
							<tr>
						        <td><label>Actual Contraseña:</label></td>
						        <td><input type="password" name="PastPassword" required="true"/></td>
						    </tr>
						    <tr>
						        <td><label>Contraseña Nueva:</label></td>
						        <td><input type="password" name="NewPassword" required="true"/></td>
						    </tr>
						    <tr>
						        <td><label>Repetir Contraseña Nueva:</label></td>
						        <td><input type="password" name="NewPassword" required="true"/></td>
						    </tr>
					    </tbody>
					</table>
					<br>
					<center>
				    <div>
				        <input type="submit" value="Confirmar" name="CambiarPass"/>
				    </div>
				    </center>
				    {% if loginFailed%}
						<p class="text-error">El nombre de usuario (o correo) y la contraseña no coinciden</p>
					{% endif%}
				</form>
			</div>
			<br>
			{% endblock %}
		<!--{% endif %}-->
	</div>
{% endblock %}
