{% include "base.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block header %}
	<div>
		<li class="listEst" id="inicio" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/LogEstudiante">Inicio</a> </li>
	    <li class="listEst" id="horario" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/LogEstudiante/VerHorario">Ver Horario</a> </li>
	    <li class="listEst" id="curso" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/LogEstudiante/MatricularCurso">Matricular Cursos</a> </li>
	    <li class="listEst" id="informacion" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/LogEstudiante/ModificarInfo">Modificar Información Personal</a> </li>
	    <li class="listEst" id="contraseña" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/LogEstudiante/CambiarContrasena">Cambiar Contraseña</a> </li>
	    <li class="listEst" id="contraseña" onmouseover="CursorOn(this)" onmouseout="CursorOut(this)"> <a class="OptionEst" href="/logout"/> Cerrar Sesión </a> </li>
	</div>
{% endblock %}

{% block contenido %}
	<div class="container-fluid offset1">
		{% if operationSucess %}
			<p> {{nombre}}, Has cambiado tus datos correctamente</p>
			<br>
		(% else %)
			<p> {{nombre}}, Error al cambiar tus datos</p>
			<br>
		{%endif%}
		{% if conectado %}
			<!-- full calendar -->
			<div class="span10" id='calendar'></div>
			<div class="span3">
				<form action="/logout/" name="logout">
				{% csrf_token %}
					<h3>Inicio de Sesión</h3>
					<div>
						<p>Estás logueado como {{nombre}}, ¿Quieres iniciar sesión como alguien más?</p>
				        <label>Cerrar sesión</label>
				        <input type="submit" value="Log out" name="logout"/>
				    </div>
			</form>
			</div>
		{% else %}
			{% block items %}
			<center>
			<br><br>
			<div>
			<!--	<img src="media/images/Encu1.jpg">-->
			</div>
			</center>
			{% endblock %} 
		{% endif %} 
	</div>
	<script type="text/javascript" src="media/js/LogEstudiante.js"> 
	</script>
{% endblock %}

