{% extends "Estudiante/LogEstudiante.html" %}

{% block contenido %}
	<div class="container-fluid offset1">
			{% block items %}
			<div class="spanEst">
				<form method="POST" action="/LogEstudiante/MatricularCurso" name="MatricularCurso">
					{% csrf_token %}
					<br>
					<select name="horario">
						{% for horarios in horarios %}
						       <option> {{ horarios }} </option>
						{% endfor %}
					</select>
					<div>
					    <input type="submit" align= "left" value="Confirmar" name="MatricularCurso"/>
					</div>
				</form>
				<p> {{ cursoid }} </p>
				<p> {{ horario }} </p>
				{% if MatriculaSuccess %}
					<p class="text-error"> Su matricula se realizo satisfactoriamente </p>
				{% endif%}
				{% if HoraOcupada %}
					<p class="text-error"> Usted no tiene el horario disponible </p>
				{% endif%}
				{% if CursandoCurso %}
					<p class="text-error"> Usted ya se encuentra matriculado a este curso </p>
				{% endif%}

				<!--<table width="20%" align="left">
					{% for curso in curso %}
					<tr>
				       <td> {{ curso.nombre }} </td>
				    </tr>
					{% endfor %}
				</table>-->
				<br>
			</div>	
			{% endblock %}
	</div>
{% endblock %}

