{% extends "Estudiante/LogEstudiante.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block contenido %}
	<div class="container-fluid offset1">
			{% block items %}
			<div class="spanEst">
				<center>
				<table width="80%" align="center" >
				    <div id="head_nav">
				    	<th>Hora</th>
					    {% for d in diasSemana%}
					        <th>{{d}}</th>
					    {% endfor %}
					</div> 

					{% for h in horas%}
					<tr>
				        <th>{{h}}</th>
				        	{% for d in diasSemana%}
				        		{% with d|add:","|add:h as tupla %}
					        		<td>{{horario|get_item:tupla}}</td>
					    		{% endwith %}
					    	{% endfor %}
				    </tr>
					{% endfor %}
				</table>
				</center>
			<br>
			</div>
			
			{% endblock %}
	</div>
{% endblock %}
