{% extends "base.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block contenido %}
	{% if operationSuccess %}
		<p class="bg-success">Los cambios se realizaron satisfactoriamente.</p>
	{% endif %}
	<div class="container-fluid offset1">
		{% if estudiante %}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
		        			<li><a href="/LogEstudiante/"> Inicio </a></li>
							<li><a href="/LogEstudiante/VerHorario"> Ver Horario </a></li>
							<li><a href="/LogEstudiante/ModificarInfo">Modificar información Personal</a></li>
							<li><a href="/LogEstudiante/CambiarContrasena">Cambiar Contraseña</a></li>
							<li><a href="/LogEstudiante/MatricularCurso">Matricular Curso</a></li>
	      				</ul>
	    			</div>
	  			</div>
			</nav>
			{% if sinRol %}
					<nav class="navbar navbar-default">
			  			<div class="container-fluid">
			   				<div class="collapse navbar-collapse" id="myNavbar">
			      				<ul class="nav navbar-nav">
				        			<li><a href="/LogEstudiante/"> Inicio </a></li>
									<li><a href="/LogEstudiante/ModificarInfo">Modificar información Personal</a></li>
			      				</ul>
			    			</div>
			  			</div>
					</nav>
			{% endif %}
		{% endif %}
		{% if profesor %}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
		        			<li><a href="/LogProfesor/"> Inicio </a></li>
							<li> <a href="/LogProfesor/listaCursos"> Lista de cursos</a> </li>
							<li> <a href="/LogProfesor/MatricularEstu"> Matricular estudiante</a> </li>
							<li> <a href="/LogProfesor/ModificarInfo">Modificar Informacion Personal</a> </li>
							<li> <a href="/LogProfesor/CambiarContrasena">Cambiar Contraseña</a> </li>
	      				</ul>
	    			</div>
	  			</div>
			</nav> 
		{% endif%}
		{% if administrador %}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
		        			<li><a href="/LogAdministrador/"> Inicio </a></li>
							<li><a href="/LogAdministrador/registroProfesor/">Registrar Profesor</a></li>
							<li><a href="/LogAdministrador/registroCurso/">Registrar Curso</a></li>
							<li><a href="/LogAdministrador/registroHorario/">Registrar Horario</a></li>
							<li><a href="/admin">Pagina Admin</a></li>
	      				</ul>
	    			</div>
	  			</div>
			</nav>
		{% endif%}
	</div>
	<div class="container">
		<center>
			<h3>Cambiar Contraseña</h3>
			<form class="form-horizontal" role="form" method="POST" action="/CambiarContrasena/" name="CamPass">
				{% csrf_token %}
				<div class="form-group">
					<label class="control-label col-md-4" for="cpwd">Actual Contraseña:</label>
					<div class="col-md-8"> 
						<input type="password" name="PastPassword" class="form-control" id="cpwd">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-4" for="newpwd">Contraseña Nueva:</label>
					<div class="col-md-8"> 
						<input type="password" name="NewPassword" class="form-control" id="newpwd">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-4" for="newpwd2">Repetir Contraseña Nueva:</label>
					<div class="col-md-8"> 
						<input type="password" name="NewPassword2" class="form-control" id="newpwd2">
					</div>
				</div>

				<div class="form-group"> 
 					<div class="col-md-offset-1 col-md-8">
						<button type="submit" name="CambiarPass" class="btn btn-default">Confirmar</button>
					</div>
				</div>

			</center>
			</form>
			{% if ChangedFailed%}
				<p class="text-error"> La nueva contraseña no coincide </p>
			{% endif%}
			{% if PassFailed%}
				<p class="text-error"> La contraseña no es correcta </p>
			{% endif%}
	</div>
{% endblock %}
