{%extends "base.html"%}
{% block titulo %}Registro Curso{% endblock %}
{% block scripts %}
<script type="text/javascript">
	function cambiarDisplay(id) {
		if (!document.getElementById) return false;

		fila = document.getElementById(id);
		if (fila.style.display != "none") 
		{
			fila.style.display = "none"; //ocultar fila 
		} 
		else 
		{
			fila.style.display = ""; //mostrar fila 
  		}
	}
</script>
{% endblock %}
{% block contenido %}
	{%if errorCurso or errorDia or errorHora or errorHoraFin %}
	<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorCurso %}
				El curso no es valido.<br>
			{% endif %}
			{% if errorDia %}
				El dia no es valido.<br>
			{% endif %}
			{% if errorHora %}
				La hora de inicio o de fin no es valida.<br>
			{% endif %}
			{% if errorHoraFin %}
				La hora final es anterior a la hora inicial.<br>
			{% endif %}
		</p>
	</div>
	{% endif %}
	{% if operationSuccess %}
		<div class="container">
			<p class="text-info">Operacion completada con exito.</p>
		</div>
	{% endif %}

	<form method="POST" action="/registroHorario/" name="registroHorario">
		{% csrf_token %}
		<div class="container">
		<h3>Ingresa los datos del horario</hs3>
			<table class="table-bordered table-striped table-hover">
				<tbody>
				    <tr>
				        <td><label>Curso:</label></td>
				        <td>
				        	<select name="idCurso" required="true">
				        		{% for c in cursos%}
				        			<option value="{{c.id}}">{{c}}</option>
				        		{% endfor %}
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Dia:</label></td>
				        <td>
				        	<select name="dia" required="true" value="{{dia}}">
				        		{% for d in dias%}
				        			<option>{{d}}</option>
				        		{% endfor %}
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Hora Inicio:</label></td>
				        <td>
				        	<select name="horaInicio" required="true" value="{{horaInicio}}">
				        		{% for h in horas%}
				        			<option>{{h}}</option>
				        		{% endfor %}
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Hora Fin:</label></td>
				        <td>
				        	<select name="horaFin" required="true" value="{{horaFin}}">
				        		{% for h in horas%}
				        			<option>{{h}}</option>
				        		{% endfor %}
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><input type="submit" class="btn" value="Regístrate" name="registrar"/>
				    </tr>
				</tbody>
			</table>
		</div>
	</form>
	<div class="col-md-2">
			<table align="center" >
			{% for hor in horarios%}
				<tr>
			        <td onclick="cambiarDisplay('{{hor.id}}')">{{hor}}</td>
			    </tr>
			    <tr id="{{hor.id}}" style="display:none">
					<td> 
					<form action="#"  method="get">
						<input type="hidden" name="id" value="{{hor.id}}">
 						<input type="submit" onclick="return confirm('Esta seguro que desea eliminar este horario?')" class="btn" value="Eliminar Horario" name="eliminarHorario">
					</form>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
{% endblock %}