</body>
</html lang="es">
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block titulo %}Inicio{% endblock %}</title>
		{%block css%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilos.css"/>
		{% endblock%}
		{% block bootstrap %}
			<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css">
			<script type="text/javascript" src="/media/bootstrap/js/bootstrap.min.js"></script>
		{% endblock %}
		{% block scripts %}
		{% endblock%}

	</head>
		<center><h1>Encubarte</h1></center><br>	
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse">
				<li><a class="btn btn-primary" href="/">Inicio</a></li>
				{% if request.user.is_superuser %}
					<li><a class="btn btn-warning" href="/registroProfesor">Registrar Profesor</a></li>
					<li><a class="btn btn-warning" href="/registroCurso">Registrar Curso</a></li>
					<li><a class="btn btn-warning" href="/registroHorario">Registrar Horario</a></li>
					<li><a class="btn btn-warning" href="/admin">Pagina admin</a></li>
				{% endif %}
				{% if request.user.is_staff %}
					<li><a class="btn btn-info" href="/">lista de cursos</a></li>
					<li><a class="btn btn-info" href="/">Matriculados a sus cursos</a></li>
					<li><a class="btn btn-info" href="/">Matricular estudiante</a></li>
				{% endif %}
				{% if request.user.is_authenticated %}
					<li><a class="btn btn-primary" href="/">Ver Horario</a></li>
					<li><a class="btn btn-primary" href="/">Modificar información Personal</a></li>
					<li><a class="btn btn-primary" href="/">Cambiar Contraseña</a></li>
					<li><a class="btn btn-primary" href="/">Matricular Curso</a></li>
					<li><a class="btn btn-danger" href="/logout">Cerrar sesión</a></li>
				{% else %}
					<li><a class="btn btn-success"href="/registroEstudiante">Regístrate</a></li>
				{% endif %}
			</nav>
		</div>
		{% block contenido %}{% endblock %}
		{% block footer %}
		{% endblock %}
	</body>
</html>
