{%extends "base.html"%}

{% block titulo %}Inicio{% endblock %}
{% block contenido %}
	<div class="container">
		{% if registerSuccess %}
			<p class="text-info">Registro exitoso! Puedes iniciar sesión.</p>
		{% endif %}
		<div class="row">
			<div class="col-md-9">
	    		<h1>Inscripciones abiertas</h1>
	    		<p>Inscribete ya!</p> 
	  		</div>
	  		{% if conectado %}
			<div class="col-md-3">
				<h2 class="text-success">Bienvenido.</h2>
				<p class="lead">Estás logueado como {{nombre}}</p>
			</div>
			{% else %}
	  		<div class="col-md-3">
				<center>
					<h3>Inicio de Sesión</h3>
				</center>
				<form method="POST" action="/login/" name="login" class="form-horizontal" role="form">
	    		{% csrf_token %}
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" class="form-control" id="usr" placeholder="Numero documento o email" name="username" required="true">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"> 
							<input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="password" required="true">
						</div>
					</div>
					<div class="form-group"> 
						<div class=" col-md-10">
							<button type="submit" class="btn btn-default" name="login">Ingresar</button>
						</div>
					</div>
				</form>
			</div>
			{% endif %}
  		</div>
		<div class="row">
			<div class="col-md-3">
				<h2>Misión</h2>
				<p align="justify">Info</p>
			</div>
			<div class="col-md-3">
				<h2>Visión</h2>
				<p align="justify">Info</p>
			</div>
			<div class="col-md-3">
				<h2>Quienes somos?</h2>
				<p align="justify">Info</p>
			</div>
		</div>
	</div>
{% endblock %}

