{%extends "base.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block contenido %}
	<div class="container-fluid offset1">
		{% if conectado %}
			<!-- full calendar -->
			<div class="span10" id='calendar'></div>
			<div class="span3">
				<h3> Desea iniciar sesión como </h3>
				<div>
					<table align="center">
	           			<tr>
	               			<td>
	                    		{% if rol.Estudiante %}
	                            	<div  role="group" align="center">
		                                <form name="estudiante" method="post" action="/modulos/">
		                                    {% csrf_token %}
		                                    <input name="codigo_modulo" id="codigo_usuario" type="hidden" value="Estudiante">
		                                    <input name="codigo_usuario" id="codigo_usuario" type="hidden" value="{{ request.user.username }}">
		                                    <button type="submit" class="btn btn-success" value="estudiante">Estudiante</button>
		                                </form>
	                            	</div>
	                    		{% endif %}
		                    </td>
		                    <td>
		                        {% if rol.Profesor %}
		                            <div  role="group" align="center">
		                                <form name="profesor" method="post" action="/modulos/">
		                                    {% csrf_token %}
		                                    <input name="codigo_modulo" id="codigo_usuario" type="hidden" value="Profesor">
		                                    <input name="codigo_usuario" id="codigo_usuario" type="hidden" value="{{ request.user.username }}">
		                                    <button type="submit" class="btn btn-danger" value="profesor">Profesor</button>
		                                </form>
		                            </div>
		                        {% endif %}
		                    </td>
		                    <td>
		                        {% if rol.Administrador %}
		                            <div  role="group" align="center">
		                                <form name="administrador" method="post" action="/modulos/">
		                                    {% csrf_token %}
		                                    <input name="codigo_modulo" id="codigo_usuario" type="hidden" value="Administrador">
		                                    <input name="codigo_usuario" id="codigo_usuario" type="hidden" value="{{ request.user.username }}">
		                                    <button type="submit" class="btn btn-primary" value="administrador">Administrador</button>
		                                </form>
		                            </div>
		                        {% endif %}
	                		</td>
	            		</tr>
        			</table>
				</div>
			</div>
		{% endif %} 
	</div>
{% endblock %}

