{% extends "base.html"%}

<!--{% block titulo %}Encubarte{% endblock %}-->

{% block extrahead %}
	<div class="container-fluid offset1">
		{% if operationSucess %}
			<p> {{nombre}}, Has cambiado tus datos correctamente</p>
			<br>
		(% else %)
			<p> {{nombre}}, Error al cambiar tus datos</p>
			<br>
		{%endif%}
			<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	   				<div class="collapse navbar-collapse" id="myNavbar">
	      				<ul class="nav navbar-nav">
		        			<li><a href="/LogProfesor/"> Inicio </a></li>
							<li> <a href="/LogProfesor/listaCursos"> Lista de cursos</a> </li>
							<li> <a href="/LogProfesor/MatricularEstu"> Matricular estudiante</a> </li>
							<li> <a href="/LogProfesor/ModificarInfo">Modificar Informacion Personal</a> </li>
	      				</ul>
	    			</div>
	  			</div>
			</nav> 
	</div>
{% endblock %}
