{% extends "Profesor/LogProfesor.html"%}

{% block contenido %}
	{%if errorTipoDocumento or errorFechaNacimiento or errorGenero %}
	<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorTipoDocumento %}
				No seleccionaste un tipo de documento correcto.<br>
			{% endif %}
			{% if errorFechaNacimiento %}
				La fecha no es correcta, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd.<br>
			{% endif %}
			{% if errorGenero %}
				No seleccionaste un género correcto.<br>
			{% endif %}
		</p>
	</div>
	{% endif %}

	<form method="POST" action="/LogProfesor/ModificarInfo/" name="ModificarInfo">
		{% csrf_token %}
		<center>
			{{ formUser.as_p }}
			{{ form.as_p }}
			<br>
		    <tr>
		        <td><input type="submit" value="Cambiar Datos" name="CamPass"/>
		    </tr>
			<p class="text-info"><h5> Por favor ingrese todos los campos requeridos (*)</h5></p>
		</center>
	</form>
{% endblock %}