{%extends "base.html"%}


{% block extrahead %}
	<div class="container-fluid offset1">
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
   				<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav">
	        			<li><a href="/LogAdministrador/"> Inicio </a></li>
	        			<li><a href="/LogAdministrador/gestionUsuarios/"> Gestion de Estudiantes </a></li>
	        			<li><a href="/LogAdministrador/gestionGrupos/"> Gestion de Grupos </a></li>
	        			<li><a href="/LogAdministrador/verSolicitudes/"> Ver Solicitudes </a></li>
						<li><a href="/LogAdministrador/registroProfesor/">Registrar Profesor</a></li>
						<li><a href="/LogAdministrador/registroCurso/">Registrar Curso</a></li>
						<li><a href="/LogAdministrador/registroHorario/">Registrar Horario</a></li>
						<li><a href="/admin">Pagina Admin</a></li>
      				</ul>
    			</div>
  			</div>
		</nav>
		<div class="span10" id='calendar'></div>
	</div>
{% endblock %}
