{%extends "Administrador/LogAdministrador.html"%}

{% block titulo %}Registro Curso{% endblock %}

{% block contenido %}

	<div class="container">
		{%if errorCurso or errorDia or errorHora or errorHoraFin %}
			<div class="alert alert-warning">
	    		<strong>Atención!</strong> Corrige los siguientes errores para continuar:
	  		</div>
	  		{% if errorCurso %}
	  		<div class="alert alert-danger">
	  				<strong>Error!</strong> El curso no es valido.	
	  		</div>
	  		{% endif %}
	  		{% if errorDia %}
	  		<div class="alert alert-danger">
	  				<strong>Error!</strong> El dia no es valido. 		
	  		</div>
	  		{% endif %}
	  		{% if errorHora %}
	  		<div class="alert alert-danger">
	  				<strong>Error!</strong> La hora de inicio o de fin no es valida.		
	  		</div>
	  		{% endif %}
	  		{% if errorHoraFin %}
	  		<div class="alert alert-danger">
	  				<strong>Error!</strong> La hora final es anterior a la hora inicial.		
	  		</div>
	  		{% endif %}
		{% endif %}

		{% if operationSuccess %}
			<p class="bg-success">Operacion completada con exito.</p>
		{% endif %}

		<div class="row">
			{% if nuevoHorario %}
				<div class="col-md-6">
					<form class="form-horizontal" role="form" method="POST" action="/LogAdministrador/registroHorario/" name="registroHorario">
					{% csrf_token %}
					<h3>Ingresa los datos del curso</h3>

					<div class="form-group">
						<label class="control-label col-md-4" for="curso">Curso:</label>
						<div class="col-md-8">
							<select class="form-control" name="idCurso" required="true" id="curso">
								{% for c in cursos%}
					        		<option value="{{c.id}}">{{c}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="day">Dia:</label>
						<div class="col-md-8">
							<select class="form-control" name="dia" required="true" value="{{dia}}" id="day">
								{% for d in dias%}
					        		<option>{{d}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="horini">Hora Inicio:</label>
						<div class="col-md-8">
							<select class="form-control" name="horaInicio" required="true" value="{{horaInicio}}" id="horini">
								{% for h in horas%}
					        		<option>{{h}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="horfin">Hora Fin:</label>
						<div class="col-md-8">
							<select class="form-control" name="horaFin" required="true" value="{{horaFin}}" id="horfin">
								{% for h in horas%}
					        		<option>{{h}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group"> 
	 					<div class="col-md-offset-4 col-md-10">
							<button type="submit" name="registrar" value="registrar" class="btn btn-default">Registrar Horario</button>
						</div>
					</div>

					</form>
				</div>
			{% endif %}

			{% if modificarHorario %}
				<div class="col-md-6">
					<form class="form-horizontal" role="form" method="POST" action="/LogAdministrador/registroHorario/" name="registroHorario">
					{% csrf_token %}
					<h3>Ingresa los datos del curso</h3>

					<div class="form-group">
						<label class="control-label col-md-4" for="curso">Curso:</label>
						<div class="col-md-8">
							<select class="form-control" name="idCurso" required="true" id="curso">
								{% for c in cursos%}
					        		<option value="{{c.id}}" selected="{{horario.idCurso}}">{{c}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="day">Dia:</label>
						<div class="col-md-8">
							<select class="form-control" name="dia" required="true" value="{{dia}}" id="day">
								{% for d in dias%}
					        		<option selected="{{horario.dia}}">{{d}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="horini">Hora Inicio:</label>
						<div class="col-md-8">
							<select class="form-control" name="horaInicio" required="true" value="{{horaInicio}}" id="horini">
								{% for h in horas%}
					        		<option selected="{{horario.horaInicio}}">{{h}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="horfin">Hora Fin:</label>
						<div class="col-md-8">
							<select class="form-control" name="horaFin" required="true" value="{{horaFin}}" id="horfin">
								{% for h in horas%}
					        		<option selected="{{horario.horaFin}}">{{h}}</option>
					        	{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group"> 
						<div class="col-md-offset-4 col-md-10">
							<button type="submit" name="registrar" value="modificar" class="btn btn-default">Modificar Horario</button>
						</div>
					</div>

					</form>
				</div>
			{% endif %}


			<div class="col-md-6">
				<table align="center" >
				{% for hor in horarios%}
					<tr>
			        	<td onclick="cambiarDisplay('{{hor.id}}')">{{hor}}</td>
			    	</tr>
			    	<tr id="{{hor.id}}" style="display:none">
						<td> 
						<form action="#"  method="get">
							<input type="hidden" name="id" value="{{hor.id}}">
							<input type="submit" class="btn" value="Modificar Horario" name="modificarHorario">
 							<input type="submit" onclick="return confirm('Esta seguro que desea eliminar este horario?')" class="btn" value="Eliminar Horario" name="eliminarHorario">
						</form>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}