{%extends "Administrador/LogAdministrador.html"%}

<meta charset="utf-8" /> 
{% block titulo %}Ver Solicitudes{% endblock %}

{% block contenido %}

	<div class="container">
		{% if operationSuccess %}
			<p class="bg-success">Operacion completada con exito.</p>
		{% endif %}

		<div class="row">
			<div class="col-md-6">
				<table align="center" >
				{% if sinSolicitudes %}
					<p class="bg-success">No tiene solicitudes pendientes.</p>
				{% endif %}
				{% for s in solicitudes %}
				<tr>
			        <td onclick="cambiarDisplay('{{s.IDestudiante}}')"> {{s.IDestudiante}} </td>
			        <td> 
					<form action="#"  method="post">
					{% csrf_token %}
						<input type="hidden" name="id" value="{{s.IDestudiante}}">
 						<input type="submit" class="btn" name="revisarSolicitud" value="Revisar" >
					</form>
					</td>
			    </tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}